<?xml version="1.0" encoding="utf-8"?> 
<configuration>
<system.webServer>
  <staticContent>
    <remove fileExtension=".mp4" />
    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    <remove fileExtension=".ogg" />
    <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
    <remove fileExtension=".ogv" />
    <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
    <remove fileExtension=".webm" />
    <mimeMap fileExtension=".webm" mimeType="video/webm" />
    <clientcache cachecontrolmode="UseMaxAge" cachecontrolmaxage="365.00:00:00" />
  </staticContent>
  <handlers>
    <add name="iisnode" path="server/app.js" verb="*" modules="iisnode"/>
  </handlers>
  <rewrite>
    <rules>
      <rule name="Force HTTPS" enabled="true">
        <match url="(.*)" ignoreCase="false" />
        <conditions>
          <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
      </rule>
      <rule name="DynamicContent">
        <match url="/*" />
        <action type="Rewrite" url="server/app.js"/>
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>