
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty. Click <a ui-sref="shop">here</a> to customize your set of Dank Wheels.
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="color: #46A41C;">FREE Worldwide Express Shipping <i class="fa fa-globe"></i> </td>
            <td style="color: red;text-decoration:line-through">$99.00</td>
            <td style="color: #46A41C;">$0.00</td>
        </tr>
        <tr>
            <td></td>
            <td>
            <img ng-if='ngCart.getItems()[0]._name.split(" ")[0] === "White"' width='90px' src="../assets/images/scooter4Mirrow.jpg" alt="">
            <img ng-if='ngCart.getItems()[0]._name.split(" ")[0] === "Black"' width='90px' src="../assets/images/scooter1-small.jpg" alt="">
            </td>
            <td></td>
            <td style="line-height: 40px">Grand total:</td>
            <td></td>
            <td style="line-height: 40px">{{ ngCart.totalCost()-$root.discountee | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td><strong>{{ item.getName() }}</strong></td>
            <td style="color: #46A41C;">IN STOCK <i class="fa fa-check-square"></i></td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>